<%- include('../partials/header') %>


<table id="list">
    <thead>
      <tr>
        <th>Snack</th>
        <th>Repetions</th>
        <th>Sets</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% snacks.forEach(function(s) { %>
        <tr>
          <td><%= s.snack %></td>
          <td><%= s.repetions %></td>
          <td><%= s.sets %></td>
          <!-- <td><a href="/snacks/<%= s._id %>">DETAILS</a></td> -->
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>