<%- include('../partials/header') %>

<form id="log-snacks-form" action="/snacks/<%= snack._id %>/frequency" method="POST">
      
    <label>Repetition:
        <input type="number" name="Repetition" min="1" max="9999">
    </label><br>

    <label>Set:
    <input type="number" name="Sets" min="1" max="9999">
</label><br>

<button type="submit">Log Today's Snack</button>
</form>

<table id="list">
    <thead>
      <tr>
        <th>Repetitions</th>
        <th>Sets</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% frequency.forEach(function(f) { %>
        <tr>
          <td><%= f.Repetition %></td>
          <td><%= f.Sets %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>